Install Libraries.

In [34]:
!pip install fuzzywuzzy

import pandas as pd

Requirement already satisfied: fuzzywuzzy in /usr/local/lib/python3.10/dist-packages (0.18.0)

In [32]:
url = 'https://raw.githubusercontent.com/akankshasingh2gr8/name_correction_with_fuzzy_logic/main/company_data.csv'
df = pd.read_csv(url)
print(df)

            Company Name         Region        Brand        Category
0         Tech Solutions  North America     Innovate     Electronics
1         Tech Solutions         Europe     Innovate     Electronics
2         Global Imports           Asia        Elite         Apparel
3         Global Imports  South America        Elite         Apparel
4           Data Systems         Africa      Pioneer        Software
5           Data Systems    Middle East      Pioneer        Software
6      Energy Innovators  North America     EcoPower          Energy
7      Energy Innovators        Oceania     EcoPower          Energy
8   InnoTech Enterprises  South America     InnoGear     Electronics
9   InnoTech Enterprises         Europe     InnoGear     Electronics
10      Pacific Ventures           Asia      Oceanic  Consumer Goods
11      Pacific Ventures    Middle East      Oceanic  Consumer Goods
12    MegaTech Solutions         Africa     MegaTech      Technology
13    MegaTech Solutions  North America     MegaTech      Technology
14         Nature's Best         Europe    GreenLife      Healthcare
15         Nature's Best        Oceania    GreenLife      Healthcare
16      Dynamic Dynamics  South America  DynamicGear     Electronics
17      Dynamic Dynamics           Asia  DynamicGear     Electronics
18     Alpha Innovations         Africa    AlphaTech      Technology
19     Alpha Innovations         Europe    AlphaTech      Technology

Simlarly, load data to be tested.

In [31]:
url2 = 'https://raw.githubusercontent.com/akankshasingh2gr8/name_correction_with_fuzzy_logic/main/data_to_test.csv'
df2 = pd.read_csv(url2)
print(df2)

                    Company Name         Region        Brand        Category
0           Data Systems Pvt Ltd  North America     Innovate     Electronics
1               Data Systems Inc         Europe        Elite         Apparel
2           Data Systems Limited           Asia      Pioneer        Software
3   Data Systems Private Limited  South America     EcoPower          Energy
4                   Data Systems         Europe     InnoGear     Electronics
5               Data Systems PVT    Middle East      Oceanic  Consumer Goods
6     Data Systems International         Africa     MegaTech      Technology
7         Data Systems Solutions  North America    GreenLife      Healthcare
8           Dynamic Data Systems        Oceania  DynamicGear     Electronics
9                   Dynamic Data    Middle East    AlphaTech      Technology
10              Tech Innovations  South America     Innovate     Electronics
11                 Tech Dynamics           Asia        Elite         Apparel
12                Tech Solutions  South America      Pioneer        Software
13               Tech Innovators        Oceania     EcoPower          Energy
14                  Tech Systems         Africa     InnoGear     Electronics
15                 Tech Ventures         Europe      Oceanic  Consumer Goods
16          MegaTech Innovations  North America     MegaTech      Technology
17             MegaTech Dynamics         Europe    GreenLife      Healthcare
18            InnoTech Solutions  South America  DynamicGear     Electronics
19        InnoTech International           Asia    AlphaTech      Technology



```
# Define function to get best match
```

In [35]:
from fuzzywuzzy import process

# Function to find the best match for a company name in the generated data
def find_best_match(company_name, choices):
    return process.extractOne(company_name, choices)

/usr/local/lib/python3.10/dist-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [ ]:
all_choices = df['Company Name']
filtered_region_choice = all_choices[df['Region'] == ]

Apply fuzzyLogic to df2 ( client data )

In [37]:
df2['BestMatch'] = df2['Company Name'].apply(lambda x: find_best_match(x, choices ))
df2

,Company Name,Region,Brand,Category,BestMatch
0,Data Systems Pvt Ltd,North America,Innovate,Electronics,"(Data Systems, 90, 4)"
1,Data Systems Inc,Europe,Elite,Apparel,"(Data Systems, 95, 4)"
2,Data Systems Limited,Asia,Pioneer,Software,"(Data Systems, 90, 4)"
3,Data Systems Private Limited,South America,EcoPower,Energy,"(Data Systems, 90, 4)"
4,Data Systems,Europe,InnoGear,Electronics,"(Data Systems, 100, 4)"
5,Data Systems PVT,Middle East,Oceanic,Consumer Goods,"(Data Systems, 95, 4)"
6,Data Systems International,Africa,MegaTech,Technology,"(Data Systems, 90, 4)"
7,Data Systems Solutions,North America,GreenLife,Healthcare,"(Data Systems, 90, 4)"
8,Dynamic Data Systems,Oceania,DynamicGear,Electronics,"(Data Systems, 90, 4)"
9,Dynamic Data,Middle East,AlphaTech,Technology,"(Dynamic Dynamics, 71, 16)"
10,Tech Innovations,South America,Innovate,Electronics,"(Alpha Innovations, 79, 18)"
11,Tech Dynamics,Asia,Elite,Apparel,"(Dynamic Dynamics, 72, 16)"
12,Tech Solutions,South America,Pioneer,Software,"(Tech Solutions, 100, 0)"
13,Tech Innovators,Oceania,EcoPower,Energy,"(Energy Innovators, 76, 6)"
14,Tech Systems,Africa,InnoGear,Electronics,"(Data Systems, 75, 4)"
15,Tech Ventures,Europe,Oceanic,Consumer Goods,"(Pacific Ventures, 72, 10)"
16,MegaTech Innovations,North America,MegaTech,Technology,"(MegaTech Solutions, 79, 12)"
17,MegaTech Dynamics,Europe,GreenLife,Healthcare,"(Dynamic Dynamics, 67, 16)"
18,InnoTech Solutions,South America,DynamicGear,Electronics,"(Tech Solutions, 88, 0)"
19,InnoTech International,Asia,AlphaTech,Technology,"(InnoTech Enterprises, 67, 8)"